* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color:darkblue;
      color:black;
  }
  
  header h1 {
      display: inline-block;
      font-size: 48px;
  }
  
   nav {
      display: flex;
      flex-wrap: wrap;
      align-self: right ;
      padding-top: 15px;
      margin-right: 15px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  
  nav ul li {
      display: inline-block;
      margin-left: 25px;
  }
  

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  
  
  
  about {
   display: flex;
   /* flex-direction: row; */
   /* flex-wrap: wrap ; */
   /* justify-content: space-around; */
   background-color: aliceblue;
    padding: 1%;
      height: auto;
        width: auto;
        margin-bottom:1%;
        border-bottom: 10px solid black;
    }
    about p {
        order:1;
        float: left;
        background-color: aliceblue;
          text-align: left;
         flex: 1; 
    } 
    about img{
        order: 2;
        float: right;
        flex: 0 0 100px;
        scale: 60%; 
    }

    about h2 {
        order:0;
        background-color: aliceblue;
       /* font-size: 50px; */
         float: left;
        flex: 0;
      padding: 10%;
      border-right: 10px solid black ;

    }
   
    @media screen and (max-width: 900px) {
        about {
           flex-direction: column; 
        }
        
    }
      
   
  
      
  work{
     display: flex;
     row-gap: 10px;
     /* justify-content: center; */
    /* flex-direction: row; */
    background-color: aliceblue;
    padding: 1%;
      height: auto;
        width: auto;
        margin-bottom:1%;
        border-bottom: 10px solid black;
  }
  
  work h2 {
    order:0;
    background-color: aliceblue;
    font-size: larger;
    float: left;
    flex: 1 0 200px;
   padding: 10%;
   border-right: 10px solid black ;
  }
  work .Horiseon {
    order:1;
    display: flex;
    flex: 2 0 400px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 10px;
    /* padding: 1%; */
    max-height: 400px;
  }
  .Horiseon p {
    display: none;
  }
  .Horiseon img {
    height: 100%;
    width: 100%;
    object-fit:fill;
}

.Horiseon:hover{
  box-shadow: 0 0 10px #000 inset;
}
  work .card{
    order:2;
    flex: 1 0 200px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 10px;
    /* padding: 1%; */
  }

  work .card p {
    display:none;
  }

  work .card img{
   height: 100%;
   width: 100%;
    object-fit:fill;
}
   .card:hover{
    box-shadow: 0 0 10px #000 inset;
  }


  @media screen and (max-width: 900px) {
    work {
       flex-direction: column; 
    }
    
}

  contact {
    /* display: flex; */
    background-color: aliceblue;
    padding: 1%;
      height: auto;
        width: auto;
        margin-bottom:1%;
    
  }

  contact h2 {
    background-color: aliceblue;
    font-size: larger;
    float: left;
    flex: 1 0 200px;
   padding: 10%;
   border-right: 10px solid black ;
  }

  contact .box {
    display:flex;
    row-gap: 1000% 10%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

  }

contact ul li {
    display: inline-block;
      margin-left: 25px;
      flex: 1 0 200px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 10px 10px 5px #aaaaaa;
    /* margin: 10px; */
    /* padding: 1%; */
}

button {
  width: 250px;
  /* margin: 0 .5%; */
  font-size: 200%;
  color: #13293d;
  background-color: #fff;
  /* border: 3px solid #13293d; */
}

button:hover {
  background-color: #772014;
  color: #fff;
}

button:active {
  font-size: 180%;
  box-shadow: 0 0 10px #000 inset;
}

button:focus {
  outline: none;
  border-color: #8ac4ff;
}




/*   
  .work .first-card{
      flex: 2 1 200px;
      border-style: solid;
      border-width: 1px;
      box-shadow: 10px 10px 5px #aaaaaa;
      margin: 10px;
  }
  
   .horiseon img 
      height: 100%;
      width: 100%;
      object-fit:contain;
  }
  .card{
      flex: 1 0 200px;
      border-style: solid;
      border-width: 1px;
      box-shadow: 10px 10px 5px #aaaaaa;
      margin: 10px;
  
  }
  
  
  
  .contact {
      background-color: aqua;
      display: flex;
      flex-wrap: wrap;
      height: auto;
      margin: 2% 2%;
  } 
  .contact ul li{
      display: inline; */
      
  }
  
  /* article {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
    border-bottom;
  } */
  
  
  
  
  /* Image Placeholders */
  /* .sample-img {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black; */
  }
  
  
  /* Tablets - header changes color
  @media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }
  
  Large smartphones - navbar changes color
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  Small smartphones - image placeholders change color
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  } */
  